<div class="container m-5 p-5 d-flex align-items-center justify-content-center">
    <div class=" col-md-8 align-items-center justify-content-center align-self-center">
        <div class=" card ">
            <div class="card-header">
                <h3>Algun cambio ?</h3>
            </div>
            <div class="card-body">
                <form action="/products/new-prod" method="post" autofocus>
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" name="product_name" placeholder="Que vas a vender?">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Precio del producto</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" name="product_price"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Categotia</label>
                        <input type="text" class="form-control" name="product_name" placeholder="Escoje una categoria">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Descripcion del producto</label>
                        <textarea class="form-control" name="product_description" rows="4"
                            placeholder="Una bonita cosa en venta que seguro alguien va a compar  :)"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">URL fotos</label>
                        <textarea class="form-control" name="URLimage" placeholder="URL Imagen"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    
<<<<<<< Updated upstream
                    <button type="" class="btn btn-primary btn-block">Cancelar</button>
=======
                    <button type="" class="btn btn-danger btn-block">Cancelar</button>
>>>>>>> Stashed changes
                </form>
            </div>
        </div>
    </div>
</div>