<h3>Tienda Online</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni facere provident minus aperiam voluptates nemo
    corrupti impedit consequuntur quod quidem.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque id eum pariatur. Non expedita dicta delectus magni
    dolorem, error sint.</p>



    <div class="card" style="width: 18rem;">
        <img src="https://i.ytimg.com/vi/nimkuj47yZk/maxresdefault.jpg">
        <div class="card-body">
            <h5 class="card-title">"{ title }"</h5>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">"{ price }"</li>
            </ul>
            <form action="/products/delete/{{_id}}" method="post">
            <a href="/" class="btn btn-primary">Editar</a>
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
        </div>
    </div> 