textarea {
    resize: none;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body {
    background: rgb(226, 222, 222);
}

.login {
    background: rgb(226, 222, 222);
}

.row {
    background: white;
    border-radius: 30px;
}

.imglogin {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 100%;
    max-height: 500px;
    margin-right: 2rem;
}

.main {
    background: url("https://media.istockphoto.com/photos/close-up-of-supermarket-grocery-push-cart-for-shopping-shopping-on-picture-id1179103836?k=20&m=1179103836&s=170667a&w=0&h=nIDC2BBZnsikVYBYaYLIkeJZpux_xEtLQTgB2fk7ByQ=")no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 65vh;
    width: 100%;
}

.main h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}


.main p {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.main div div {
    background-color: rgba(0, 0, 0, 0.001);
}

.mainIcon {
    height: 4.5rem;
    width: 4.5rem;
}

.new {
    height: 35vh;
}

.new h6 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.new .row {
    background: rgb(226, 222, 222);
}

.addprod {
    display: flex;
    align-items: center;
}

.caja {
    width: 100%;
    display: flex;
    align-items: center;
}

.caja img {
    width: 100%;
    object-fit: contain;
    max-height: 70vh;

}