
<div class="container p-5">
    <section class="login  my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://i.imgur.com/fSJh3U1.jpg" class="imglogin">
                </div>
                <div class="col-lg-7 px-5 mt-5">
                    <p class="h2 font-weight-bold py-3">Bienvenido</p>
                    <p class="h5">Crea una nueva cuenta</p>
                    <form>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" placeholder="Nombre completo" class="form-control my-2 p-4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" placeholder="Correo electronico" class="form-control my-2 p-4">
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-lg-7 ">

                                <input type="password" placeholder="contraseña" class="form-control p-4 "
                                    id="myInput"><br><br>
                                <input type="checkbox" onclick="myFunction()"> Mostrar contraseña

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="btn btn-primary btn-lg btn-block my-3">Sing in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
