<div class="container p-5">
    <section class="login  my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://w0.peakpx.com/wallpaper/296/76/HD-wallpaper-sakura-petals-branches-pink-background-minimalism-flowers.jpg" class="imglogin">
                </div>
                <div class="col-lg-7 px-5 mt-4">
                    <p class="h2 font-weight-bold py-1">Bienvenido</p>
                    <p class="h5">Crea una nueva cuenta</p>
                    <form action="/user/singup" method="POST">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" name="name" placeholder="Nombre completo" class="form-control my-2 p-3">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" name="email" placeholder="Correo electronico" class="form-control my-2 p-3">
                            </div>
                                <div class="col-lg-7 ">
                                <input type="password" name="password" placeholder="contraseña" class="form-control my-2 p-3 " id="myInput">
                                <input type="checkbox" onclick="myFunction()"> Mostrar contraseña
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-lg-7">
                                <button type="submit" class="btn btn-primary btn-lg btn-block my-3">Crear cuenta</button>
                            </div>
                        </div>
                         <p>Ya tienes una cuenta? <a href="/user/login">Ingresa aqui</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
