<div class="container p-5">
    <section class="login  my-4 mx-5">
        <div class="container">
            <div class="row no-gutters pa-4 ma-3">

                <div class="col-lg-7 d-flex align-content-center align-items-center flex-wrap">
                    <div class="caja ">
                        <img src="https://i.pinimg.com/originals/6d/6d/a1/6d6da1386014c5a3d5877a14488eeb5d.jpg ">
                    </div>
                </div>

                <div class="col-lg-5 px-5 my-4">
                    <form clas="" action="#" method="post" autofocus>
                        <div class="mb-3">
                            <label for="" class="h3 font-weight-bold">Nombre del producto</label>
                        </div>
                        <div class="mb-3">
                            <span class="h5">$ 0000.00</span>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> <b>Descripción:</b> </label>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe autem quasi, assumenda
                                consequuntur,nspernatur, quaerat magni alias maiores voluptate illo dolorum distinctio
                                et? Nulla non possimus deserunt, repudiandae distinctio numquam animi, rem,
                                reprehenderit sit molestias fugit? Deleniti, animi. Tempore, placeat repellendus.</p>
                        </div>
                        <div class="mb-3">
                            <span class="h4">Valoacion: <b>5/5</b></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Contactar</button>
                    </form>
                </div>


            </div>
        </div>
    </section>
</div>